.container {

    background-color: #EAEDEF;
    display: flex;
  } .header{
    background-color: #fff;
  }
  
  
  /* Style for the sidebar */
 
  /* Style for the content area (Header and Usertable) */
 