.wrapper {
    width: 100%; 
    height: auto; 
    background: #fff;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  
  .wrapper h1 {
    font: bold;
    font-size: 42px;
    position: relative;
    text-align: center; 
    color: #00194F;
  }
  
  .wrapper .blue-section {
    border-radius: 3px;
    height: 100%;
    position: relative;
    width: 100%;
    background-color: #00194F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blue-section .logo {
    max-width: 100%;
    max-height: 100%;
  }
  
  .wrapper .input-box {
    position: relative;
    margin: 15px 0;
    width: 90%;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 2px solid rgba(255, 255, 255, 2);
    outline: none;
    border-radius: 5px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box:-ms-input-placeholder {
    color: #fff;
  }
  
  .forget-pass a {
    position: relative;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    color: #000000;
    text-align: center; 
  }
  
  .forget-pass a:hover {
    text-decoration: underline;
  }
  
  .wrapper button {
    margin-top: 10px;
    width: 80%; 
    margin: 10px auto; 
    height: 45px;
    background: #00194F;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
  }
  
  
  @media only screen and (max-width: 480px) {
    .wrapper h1 {
      font-size: 28px; 
    }
  
    .input-box,
    .wrapper button {
      width: 100%;
    }
  }
  
